<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Muebles</h2>
      <hr>
      <p>Aquí encontrará toda nuestra variedad de muebles.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Todos</a></li>
            <li><a href="#" data-filter=".residential">Cocina</a></li>
            <li><a href="#" data-filter=".office">Baño</a></li>
            <li><a href="#" data-filter=".commercial">Habitación</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [routerLink]="['/mueble-closet']"  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Closet</h4>
              </div>
              <img src="assets/img/portfolio/closet.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 commercial">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [routerLink]="['/mueble-tv']" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mueble Tv 3</h4>
              </div>
              <img src="assets/img/portfolio/tv3.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [routerLink]="['/mueble-cocina']" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mueble cocina</h4>
              </div>
              <img src="assets/img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [routerLink]="['/mueble-linos']" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mueble Linos</h4>
              </div>
              <img src="assets/img/portfolio/linos.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 commercial">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [routerLink]="['/mueble-tv-4']" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mueble Tv 4</h4>
              </div>
              <img src="assets/img/portfolio/tv4.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 office">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [routerLink]="['/mueble-bano']" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mueble Baño</h4>
              </div>
              <img src="assets/img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
