<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1><strong>CG {{year}}</strong> <span> / </span>Muebles UN</h1>
            <p>Computación gráfica 2018 II, Universidad Nacional de Colombia.</p>
            <a routerLink="/nosotros" class="btn btn-custom btn-lg page-scroll">Acerca de nosotros</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
