<div class="content">
    <form name="form" [formGroup]="form">
      <div class="row">
        <h3>Datos de usuario</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('name')!='none'">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="name">
            <span class="help-block" *ngIf="inputErrorHandler('name')!='none'">{{inputErrorHandler('name')}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('email')!='none'">
            <label>Correo</label>
            <input type="email" class="form-control" formControlName="email">
            <span class="help-block" *ngIf="inputErrorHandler('email')!='none'">{{inputErrorHandler('email')}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Especificaciones</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('Ancho')!='none'">
            <label>Ancho (milímetros)</label>
            <input type="number" class="form-control" formControlName="Ancho">
            <span class="help-block" *ngIf="inputErrorHandler('Ancho')!='none'">{{inputErrorHandler('Ancho')}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('Largo')!='none'">
            <label>Largo (milímetros)</label>
            <input type="number" class="form-control" formControlName="Largo">
            <span class="help-block" *ngIf="inputErrorHandler('Largo')!='none'">{{inputErrorHandler('Largo')}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('Alto')!='none'">
            <label>Alto (milímetros)</label>
            <input type="number" class="form-control" formControlName="Alto">
            <span class="help-block" *ngIf="inputErrorHandler('Alto')!='none'">{{inputErrorHandler('Alto')}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('Largo_PD')!='none'">
            <label>Largo puerta derecha (milímetros)</label>
            <input type="number" class="form-control" formControlName="Largo_PD">
            <span class="help-block" *ngIf="inputErrorHandler('Largo_PD')!='none'">{{inputErrorHandler('Largo_PD')}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('Largo_PI')!='none'">
            <label>Largo puerta izquierda (milímetros)</label>
            <input type="number" class="form-control" formControlName="Largo_PI">
            <span class="help-block" *ngIf="inputErrorHandler('Largo_PI')!='none'">{{inputErrorHandler('Largo_PI')}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [class.has-error]="inputErrorHandler('Alto_Cajones')!='none'">
            <label>Altura de los cajones (milímetros)</label>
            <input type="number" class="form-control" formControlName="Alto_Cajones">
            <span class="help-block" *ngIf="inputErrorHandler('Alto_Cajones')!='none'">{{inputErrorHandler('Alto_Cajones')}}</span>
          </div>
        </div>
      </div>
      <div (click)="sendRequest()" class="btn btn-custom btn-lg" [class.disabled]="!form.valid">Solicitar Cotización</div>
    </form>
  </div>
