<!-- Services Section -->
<div id="services">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
      <h2>Nuestros Servicios</h2>
      <hr>
      <p>
        Solicite la cotización de sus muebles personalizados.
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 service"> <img src="assets/img/kitchen.jpg" class="img-responsive" alt="Project Title">
        <h3>Muebles de cocina</h3>
        <p>
          Los mejores muebles de cocina con las medidas acorde a su necesidad.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 service"> <img src="assets/img/bathroom.jpg" class="img-responsive" alt="Project Title">
        <h3>Muebles de baño</h3>
        <p>
          Los mejores muebles de baño con las medidas acorde a su necesidad.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 service"> <img src="assets/img/room.jpg" class="img-responsive" alt="Project Title">
        <h3>Muebles de habitación</h3>
        <p>
          Los mejores muebles de habitación con las medidas acorde a su necesidad.
        </p>
      </div>
    </div>
  </div>
</div>
